section.container-fluid.mt-230#about-us
             .row 
                      .col-xs-12.col-sm-12.col-md-12.col-lg-5.col-xl-5.about-us-right
                            img(src="img/about-img.png", alt="about-us" class="img-fluid") 
                      .col-xs-12.col-sm-12.col-md-12.col-lg-7.col-xl-7.about-us-left  
                            .about-us-content-wrapper 
                                p.aboutUs-title   درباره ما
                                p.aboutUs-text. 
                                 تیم برنرز لی، مخترع وب، با برپایی یک سایت وب در اوت ۱۹۹۱، نام خود را به عنوان نخستین سازندهٔ وب در تاریخ نگاشت. او در نخستین وب سایتش، از اَبَرمتن و پیوندی برای ایمیل (پست الکترونیک) استفاده کرده بود. در آغاز، وب سایت‌ها با کُدهای ساده HTML نوشته می‌شدند
                                a(href="#",class="about-us-link") ادامه مطلب