.title.course-title.text-center.mt-230 
             h4
                 span.po-relative جدید ترین مطالب  
section.contaienr-fluid#bg-asset-section 
            .row    
                .container#asset 
                    .row 
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")
                        .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.card
                            .card-header 
                                img(src="img/php.jpg", alt="",class="img-fluid")
                            .card-body 
                                a(href="") دوره متخصص php
                                p در این جلسه می پردازیم به ادامه مباحث این دوره...
                                span 16
                                span تیر
                            .card-footer
                                span ۱۲۳
                                    i(class="far fa-eye")
                                span ۱۲۳
                                    i(class="far fa-comments")
                                span ۱۲۳
                                    i(class="fas fa-heart")