section.container.mt-20
            .row.text-center 
                include _title.pug
            .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب     
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب    
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب             
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب     
                .col-xs-6.col-sm-6.col-md-6.col-lg-4.col-xl-4.mb-20
                    .card 
                        .card-header.po-relative 
                            .card-overlay.po-absolute 
                                p دوره جامع طراحی وب
                            img(src="img/1.jpg", alt="course-1" class="img-fluid")
                        .card-body.po-relative
                            img(src="img/6.png", alt="")
                            .card-body-text.po-absolute
                                a(href="#") دوره طراحی وب
                                p دوره تخصصی طراحی وب    