.title.course-title.text-center.mt-230 
             h4
                 span.po-relative  سوالات متداول 
section.container-fluid#faq-wrapper 
            .row 
                .container 
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.faq-right
                        ul
                            li 
                                    i(class="fas fa-headset")
                                    span پشتیبانی ۲۴ ساعته
                                    p پشتیبانی 24 ساعته در تمام ایام هفته بصورت رایگان
                            li  
                                    i(class="fas fa-truck")
                                    span پشتیبانی ۲۴ ساعته
                                    p پشتیبانی 24 ساعته در تمام ایام هفته بصورت رایگان
                            li 
                                    i(class="far fa-question-circle")
                                    span پشتیبانی ۲۴ ساعته
                                    p پشتیبانی 24 ساعته در تمام ایام هفته بصورت رایگان
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.accordion.faq-left
                        .tabs 
                            .tab
                                input(type="checkbox", name="" id="ch-ck1")
                                label(for="ch-ck1",class="tab-label") پشتیبانی 
                                .tab-content. 
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                
                            .tab
                                input(type="checkbox", name="" id="ch-ck2")
                                label(for="ch-ck2",class="tab-label") پشتیبانی 
                                .tab-content  ۲۴ ساعته در تمام ایام هفته به صورت رایگان
                                
                            .tab
                                input(type="checkbox", name="" id="ch-ck3")
                                label(for="ch-ck3",class="tab-label") پشتیبانی 
                                .tab-content  ۲۴ ساعته در تمام ایام هفته به صورت رایگان
                                
                            .tab
                                input(type="checkbox", name="" id="ch-ck4")
                                label(for="ch-ck4",class="tab-label") پشتیبانی 
                                .tab-content  ۲۴ ساعته در تمام ایام هفته به صورت رایگان