footer.container-fluid.mt-230
            .footer-top-img 
                img(src="img/wave.svg", alt="")
            .row 
                .container.footer-wrapper
                    .row 
                        .col-xs-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .footer-desc 
                                a(href="#") 
                                    i(class="fas fa-graduation-cap")  
                                    span آموزش نوین
                                p. 
                                     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                        .col-xs-12.col-sm-12.col-md-6.col-lg-3.col-xl-3 
                            .footer-service 
                                h6 خدمات ما
                                ul
                                    li
                                        a(href="#") 
                                            i(class="fas fa-chevron-left")
                                            span دوره های آموزشی
                                    li
                                        a(href="#")  
                                            i(class="fas fa-chevron-left")
                                            span واحد آموزش
                                    li
                                        a(href="#") 
                                            i(class="fas fa-chevron-left")
                                            span ارتباط با مدیریت
                                    li
                                        a(href="#") 
                                            i(class="fas fa-chevron-left")
                                            span واحد فروش
                                    li
                                        a(href="#")  
                                            i(class="fas fa-chevron-left")
                                            span واحد پشتیبانی
                                    li
                                        a(href="#")   
                                            i(class="fas fa-chevron-left")
                                            span امور آموزشگاه ها
                        .col-xs-12.col-sm-12.col-md-6.col-lg-3.col-xl-3 
                            .footer-social-media
                                h6 ما را در شبکه های اجتماعی دنبال کنید
                                a(href="")
                                    i(class="fab fa-facebook")
                                a(href="")
                                    i(class="fab fa-whatsapp")
                                a(href="")
                                    i(class="fab fa-instagram")
                                a(href="")
                                    i(class="fab fa-telegram-plane")
                                form(action="") 
                                    input(type="email" placeholder="اشتراک  خبرنامه" , class="footer-input")
                                    input(type="submit", value="عضویت", class="footer-submit")
                                span.hint برای عضویت ایمیل خود را وارد کنید
                        .col-xs-12.col-sm-12.col-md-6.col-lg-3.col-xl-3 
                            .footer-contact-us
                                h6 راه های ارتباط با ما
                                ul
                                    li
                                        a(href="#") 
                                            i(class="fas fa-phone fa-phone-custom")
                                            span  تلفن  : 
                                            span.footer-phone-no   ۰۹۰۳۷۵۶۷۳۶۲
                                    li 
                                        a(href="") 
                                           i(class="far fa-envelope fa-envelope-custom")
                                           span ایمیل
                                    li
                                        a(href="") 
                                            i(class="fas fa-map-marker-alt")
                                            span. 
                                                تهران ولیععصر کوچه حسینی بن بست لاله پلاک ۲۲ طبقه اول
                                          

            .copy-right تمامی حقوق این وبسایت متعلق است به سیستم آموزشی 
                span نوین
                            