header.container-fluid.container-fluid-custom 
   .row 
      .container.header-contact-information-wrapper 
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.header-contact-information
                        i(class="far fa-envelope fa-envelope-custom")
                            span.header-mail-info
                                a(href="mailto:alitabatabaee20@gamil.com" target="_blank").  
                                    ali.taba@gmail.com 
                        i(class="fas fa-phone fa-phone-custom")
                            span. 
                                ۰۹۱۲۲۲۲۲۲
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.header-social-media-icons
                        a(href="#") 
                            i(class="fab fa-telegram-plane")
                        a(href="#") 
                            i(class="fab fa-instagram")
                        a(href="#") 
                            i(class="fab fa-whatsapp")
                        a(href="#") 
                            i(class="fab fa-facebook") 