section.container-fluid
            .row.p-0
               .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.p-0.hero-img-wrapper
                  figure.po-relative 
                     .overlay.po-absolute
                        .hero-header-text.po-absolute    
                           h1 مبتکر آموزش 
                              span نوین
                           h3. 
                             برگزار کننده دوره های برنامه نویسی و دیجیتال مارکتینگ
                           a(href="#" class="hero-header-action-link") بیشتر بدانید
                     img(src="img/header.jpg", alt="" class="img-fluid hero-img") 