nav.menu-wrapper#mynav
    .row 
        .container
            a(href="#" class="navicon")
                <i class="fas fa-graduation-cap"></i>
            a(href="#"). 
                خانه 
            a(href="#"). 
                دوره های آموزشی 
            a(href="#"). 
                درباره ما
            a(href="#"). 
                تماس با ما
            a(href="#"). 
                جدید ترین مطالب
            a(href="javascript:void(0);" class=" navicon  menu-bar" onclick="barIcon();") 
                i(class="fas fa-bars")