.container-fluid#teacher.mt-230 
            .row 
                .col-xs-12.col-sm-12.col-md-12.offset-lg-3.col-lg-6.offset-xl-3.col-xl-6.teacher-container 
                    img(src="img/bg-biddle.png", alt="", class="img-fluid").teacher-img
                    .teacher-content-wrapper 
                        p مدرسین سیستم آموزشی 
                            span نوین
                        a(href="#" , class="teacher-link") بیشتر ... 