.img-fluid{
    width: 100%;
    height: auto;
    display: block;
}
.p-0{
    padding: 0;
}
.po-relative{
    position: relative;
}
.po-absolute{
    position: absolute;
}
.mt-20{
    margin-top: 20px;
}
.text-center{
    text-align: center;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-230{
    margin-top: 230px;
}
.d-flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.h-100{
    height: 100%;
}
// utilities