.perfect-centering, .card .card-header .card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  font-style: "normal";
  font-weight: "normal";
}

*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Vazir";
  scroll-behavior: smooth;
}

ol li, ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

.p-0 {
  padding: 0;
}

.po-relative {
  position: relative;
}

.po-absolute {
  position: absolute;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-230 {
  margin-top: 230px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-100 {
  height: 100%;
}

.container-fluid-custom {
  background-color: #2e2e2e;
  color: #fff;
  height: 30px;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information {
  font-size: 15px;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information .fa-envelope-custom {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information .fa-envelope-custom:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information .fa-phone-custom {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information .fa-phone-custom:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information .header-mail-info a {
  color: #fff;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information i {
  vertical-align: -2px;
  margin-right: 15px;
  color: orange;
}

.container-fluid-custom .header-contact-information-wrapper .header-contact-information i span {
  color: #fff;
  margin-left: 6px;
  vertical-align: .5px;
}

.container-fluid-custom .header-contact-information-wrapper .header-social-media-icons {
  direction: ltr;
  float: left;
}

.container-fluid-custom .header-contact-information-wrapper .header-social-media-icons a i {
  margin: 0 10px;
  vertical-align: -2px;
  color: orange;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.container-fluid-custom .header-contact-information-wrapper .header-social-media-icons a i:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  color: #fff;
  cursor: pointer;
}

@media (max-width: 657px) {
  .header-mail-info {
    display: none;
  }
}

@media (max-width: 370px) {
  .fa-facebook {
    display: none;
  }
  .fa-phone-custom {
    font-size: 12px;
  }
  .fa-envelope-custom {
    margin-right: -12px !important;
  }
}

.menu-wrapper {
  position: -webkit-sticky;
  position: sticky;
  z-index: 200;
  top: 0;
  overflow: hidden;
  background-color: #efefef;
}

.menu-wrapper a {
  float: right;
  direction: rtl;
  color: #2e2e2e;
  text-align: center;
  margin-right: 16px;
  font-size: 17px;
  padding: 14px 0;
  position: relative;
}

.menu-wrapper a:first-child {
  color: orange;
}

.menu-wrapper a:not(.navicon):after {
  content: '';
  position: absolute;
  top: 51px;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: orange;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.menu-wrapper a:hover::after {
  width: 100%;
}

.menu-wrapper .menu-bar {
  display: none;
}

@media (max-width: 768px) {
  .menu-wrapper a {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .menu-wrapper a {
    font-size: 16px;
  }
}

@media (max-width: 590px) {
  .menu-wrapper a:not(:first-child) {
    display: none;
  }
  .menu-wrapper a.menu-bar {
    display: block;
    float: left;
    direction: ltr;
  }
  nav.responsive {
    position: relative;
  }
  nav.responsive .menu-bar {
    position: absolute;
    top: 0;
    left: 15px;
  }
  nav.responsive a {
    float: none !important;
    display: block !important;
    text-align: right !important;
  }
}

.hero-img-wrapper figure .hero-img {
  height: 89vh;
}

.hero-img-wrapper figure .overlay {
  background-color: rgba(29, 29, 29, 0.219);
  width: 100%;
  height: 89vh;
  position: absolute;
}

.hero-img-wrapper figure .overlay .hero-header-text {
  color: #fff;
  background-color: rgba(56, 56, 56, 0.473);
  padding: 70px;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 130px;
  margin-right: 110px;
}

.hero-img-wrapper figure .overlay .hero-header-text h1 span {
  color: orange;
}

.hero-img-wrapper figure .overlay .hero-header-text .hero-header-action-link {
  padding: 5px 10px;
  border: 2px solid orange;
  color: #fff;
  border-radius: 4px;
  float: left;
  direction: ltr;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.hero-img-wrapper figure .overlay .hero-header-text .hero-header-action-link:hover {
  border: 2px solid transparent;
  background-color: orange;
}

@media (max-width: 648px) {
  .hero-img-wrapper figure .hero-img, .hero-img-wrapper figure .overlay {
    height: auto;
  }
  .hero-header-text {
    padding: 13px !important;
    max-width: 325px !important;
    margin-top: 22px !important;
    margin-right: 18px !important;
  }
  .hero-header-text h1 {
    font-size: 20px !important;
  }
  .hero-header-text h3 {
    font-size: 15px !important;
  }
  .hero-header-text a {
    margin-top: -5px;
    font-size: 11px !important;
    font-weight: bold;
    margin-left: 7px;
    padding: 3px 7px !important;
  }
}

@media (min-width: 649px) and (max-width: 709px) {
  .hero-img-wrapper figure .hero-img, .hero-img-wrapper figure .overlay {
    height: auto;
  }
  .hero-header-text {
    padding: 13px !important;
    max-width: 359px !important;
    margin-top: 36px !important;
    margin-right: 30px !important;
  }
  .hero-header-text h1 {
    font-size: 21px !important;
  }
  .hero-header-text h3 {
    font-size: 16px !important;
  }
  .hero-header-text a {
    margin-top: -5px;
    font-size: 11px !important;
    font-weight: bold;
  }
}

@media (min-width: 710px) and (max-width: 792px) {
  .hero-img-wrapper figure .hero-img, .hero-img-wrapper figure .overlay {
    height: auto;
  }
  .hero-header-text {
    padding: 19px !important;
    max-width: 433px !important;
    margin-top: 58px !important;
    margin-right: 40px !important;
  }
  .hero-header-text h1 {
    font-size: 22px !important;
  }
  .hero-header-text h3 {
    font-size: 17px !important;
  }
  .hero-header-text a {
    margin-top: 15px;
    font-size: 12px !important;
  }
}

@media (min-width: 793px) and (max-width: 1050px) {
  .hero-img-wrapper figure .hero-img, .hero-img-wrapper figure .overlay {
    height: auto;
  }
  .hero-header-text {
    padding: 26px !important;
    max-width: 453px !important;
    margin-top: 58px !important;
    margin-right: 51px !important;
  }
  .hero-header-text h1 {
    font-size: 25px !important;
  }
  .hero-header-text h3 {
    font-size: 20px !important;
  }
}

.title h4 {
  padding: 80px;
}

.title h4 span {
  display: inline-block;
}

.title h4 span::after {
  content: '';
  position: absolute;
  width: 50%;
  top: 11px;
  right: -62px;
  height: 3px;
  background-color: orange;
}

.title h4 span::before {
  content: '';
  position: absolute;
  width: 50%;
  top: 11px;
  left: -62px;
  height: 3px;
  background-color: orange;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px  1px  1px #efefef;
          box-shadow: 1px 1px  1px  1px #efefef;
}

.card .card-header {
  cursor: pointer;
}

.card .card-header:hover .card-overlay {
  opacity: 1;
}

.card .card-header .card-overlay {
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000059;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.card .card-header .card-overlay p {
  color: #fff;
  background-color: #ffa6008c;
  padding: 10px;
  border-radius: 5px;
}

.card .card-body img {
  width: 40px;
  height: 40px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin: 10px;
}

.card .card-body .card-body-text {
  top: 11px;
  right: 69px;
}

.card .card-body .card-body-text a {
  font-size: 16px;
  cursor: pointer;
  color: #2e2e2e;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.card .card-body .card-body-text a:hover {
  color: orange;
}

.card .card-body .card-body-text p {
  font-size: 14px;
  color: #6f6f6f;
}

#about-us .about-us-left {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

#about-us .about-us-left .about-us-content-wrapper {
  margin-top: 15px;
  background-color: rgba(243, 243, 243, 0.397);
  padding: 30px;
  max-height: 300px;
}

#about-us .about-us-left .about-us-content-wrapper .aboutUs-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: orange;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #cfcfcf;
}

#about-us .about-us-left .about-us-content-wrapper .aboutUs-text {
  font-size: 20px;
  color: #6b6666;
  line-height: 32px;
  margin: 20px 10px 10px 10px;
}

#about-us .about-us-left .about-us-content-wrapper .about-us-link {
  padding: 5px 10px;
  border: 2px solid orange;
  color: #fff;
  border-radius: 4px;
  float: left;
  direction: ltr;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  margin: -1px 0 0 25px;
  background-color: orange;
}

#about-us .about-us-left .about-us-content-wrapper .about-us-link:hover {
  border-radius: 0 15px;
}

#teacher {
  background-image: url("../img/e-bg.jpg");
}

#teacher .teacher-container {
  text-align: center;
}

#teacher .teacher-container .teacher-content-wrapper {
  background-color: rgba(255, 255, 255, 0.747);
  z-index: 1;
  border-radius: 5px;
  height: 144px;
  -webkit-box-shadow: 0px 4px 20px 3px #b4b4b4;
          box-shadow: 0px 4px 20px 3px #b4b4b4;
}

#teacher .teacher-container .teacher-content-wrapper p {
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

#teacher .teacher-container .teacher-content-wrapper span {
  font-size: 28px;
  color: orange;
  font-weight: bold;
  background-color: #efefefdc;
  padding: 5px;
  border-radius: 10px;
}

#teacher .teacher-container .teacher-content-wrapper a {
  border: 1px solid orange;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: orange;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
}

#teacher .teacher-container .teacher-content-wrapper a:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  color: #000;
}

@media (max-width: 500px) {
  .teacher-content-wrapper p, .teacher-content-wrapper span {
    font-size: 17px !important;
  }
  .teacher-content-wrapper a {
    font-size: 15px !important;
  }
}

#achivements {
  background-color: #ffc412;
  height: 200px;
  padding: 50px;
}

#bg-asset-section {
  background-image: url(../img/color-bg.png);
  background-size: cover;
  background-position: left;
  min-height: 900px;
}

#bg-asset-section #asset .card {
  margin-bottom: 20px;
  margin-top: 20px;
}

#bg-asset-section #asset .card .card-header {
  overflow: hidden;
}

#bg-asset-section #asset .card .card-header img {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

#bg-asset-section #asset .card .card-header img:hover {
  -webkit-transform: scale(1.3) rotate(10deg);
      -ms-transform: scale(1.3) rotate(10deg);
          transform: scale(1.3) rotate(10deg);
}

#bg-asset-section #asset .card .card-body {
  position: relative;
}

#bg-asset-section #asset .card .card-body a {
  display: inline-block;
  font-weight: bold;
  margin: 42px 22px 0 0;
}

#bg-asset-section #asset .card .card-body p {
  color: #424242;
  margin: 14px 34px 17px 54px;
  font-weight: bold;
}

#bg-asset-section #asset .card .card-body span {
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  color: #fff;
}

#bg-asset-section #asset .card .card-body span:nth-of-type(1) {
  background-color: orange;
  top: -35px;
  right: 13px;
  border-radius: 5px 5px 0 0;
}

#bg-asset-section #asset .card .card-body span:nth-of-type(2) {
  background-color: #888888;
  border-radius: 0 0 5px 5px;
  top: 0px;
  right: 13px;
}

#bg-asset-section #asset .card-footer {
  border-top: 1px solid #efefef;
  text-align: center;
  padding: 10px 10px 0 10px;
}

#bg-asset-section #asset .card-footer span {
  color: #919191;
  display: inline-block;
  margin-right: 15px;
}

#bg-asset-section #asset .card-footer span i {
  margin-right: 10px;
}

#faq-wrapper {
  background-image: url(../img/faq-bg.jpg);
}

#faq-wrapper .faq-right {
  padding: 30px;
  margin: 80px 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px 0px #efefef;
          box-shadow: 1px 1px 20px 0px #efefef;
  background-color: #fff;
}

#faq-wrapper .faq-right ul li {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 5px;
}

#faq-wrapper .faq-right ul li:last-of-type {
  margin-bottom: 40px;
}

#faq-wrapper .faq-right ul li i {
  font-size: 32px;
  color: #6b6bff;
  vertical-align: middle;
}

#faq-wrapper .faq-right ul li span {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

#faq-wrapper .faq-right ul li p {
  margin-right: 70px;
  color: #7e7e7e;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

#faq-wrapper .faq-left {
  margin: 80px 0;
  border-radius: 10px;
}

#faq-wrapper .faq-left .tabs {
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#faq-wrapper .faq-left .tabs .tab {
  color: #fff;
  background-color: royalblue;
  overflow: hidden;
}

#faq-wrapper .faq-left .tabs .tab label {
  padding: 10px;
  background-color: #383838;
  width: 100% !important;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#faq-wrapper .faq-left .tabs .tab label:hover {
  background-color: #464646;
}

#faq-wrapper .faq-left .tabs .tab label::after {
  content: "\276f";
  float: left;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#faq-wrapper .faq-left .tabs .tab .tab-content {
  height: 0 !important;
  padding: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-size: 16px;
  background-color: #aaaaaa70;
  line-height: 25.6px;
}

#faq-wrapper .faq-left .tabs .tab input {
  display: none;
}

#faq-wrapper .faq-left .tabs .tab input:checked ~ .tab-content {
  height: 100px !important;
  padding: 15px;
  overflow: auto;
}

#faq-wrapper .faq-left .tabs .tab input:checked + label::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .faq-left {
    margin-top: 20px !important;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 10px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;
}

::-webkit-scrollbar-track {
  background-color: #a8a1a100;
}

.footer-top-img {
  position: relative;
}

.footer-top-img img {
  position: absolute;
  bottom: 0;
}

footer {
  background-color: #041121;
  min-height: 300px;
}

footer .footer-wrapper .row .footer-desc {
  color: #efefef;
  padding: 14px;
}

footer .footer-wrapper .row .footer-desc a i {
  color: orange;
  padding: 10px;
  font-size: 38px;
  -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
          transform: rotate(-18deg);
  vertical-align: -5px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-desc a i:hover {
  -webkit-transform: scale(1.08) rotate(-18deg);
      -ms-transform: scale(1.08) rotate(-18deg);
          transform: scale(1.08) rotate(-18deg);
  color: #fcb901;
}

footer .footer-wrapper .row .footer-desc p {
  font-size: 12px;
  margin-top: 14px;
}

footer .footer-wrapper .row .footer-desc span {
  color: #efefef;
  margin-right: 4px;
  font-size: 15px;
}

footer .footer-wrapper .row .footer-service {
  text-align: center;
  color: #efefef;
  padding: 14px;
  margin-top: 23px;
  margin-bottom: 10px;
}

footer .footer-wrapper .row .footer-service h6 {
  margin-bottom: 11px;
  color: orange;
  font-size: 14px;
  border-bottom: 1px solid #efefef8a;
  padding-bottom: 5px;
}

footer .footer-wrapper .row .footer-service ul li {
  margin-top: 2px;
  margin-right: 100px;
  text-align: right;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-service ul li:hover {
  margin-right: 120px;
}

footer .footer-wrapper .row .footer-service ul li:hover a {
  color: #fff;
}

footer .footer-wrapper .row .footer-service ul li:hover a i {
  color: orange;
}

footer .footer-wrapper .row .footer-service ul li a {
  color: #efefefd2;
  font-size: 12px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-service ul li a i {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  margin-left: 3px;
}

footer .footer-wrapper .row .footer-social-media {
  text-align: center;
  color: #efefef;
  padding: 14px;
  margin-top: 23px;
  margin-bottom: 10px;
}

footer .footer-wrapper .row .footer-social-media h6 {
  margin-bottom: 11px;
  color: orange;
  font-size: 14px;
  border-bottom: 1px solid #efefef8a;
  padding-bottom: 5px;
}

footer .footer-wrapper .row .footer-social-media a i {
  color: #efefefd2;
  margin-right: 20px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  font-size: 17px;
}

footer .footer-wrapper .row .footer-social-media a i:hover {
  color: orange;
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

footer .footer-wrapper .row .footer-social-media form {
  position: relative;
  margin-top: 20px;
}

footer .footer-wrapper .row .footer-social-media form .footer-input {
  padding: 5px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: #efefef;
  background-color: #0f2138;
  width: 100%;
}

footer .footer-wrapper .row .footer-social-media form .footer-input::-webkit-input-placeholder {
  color: orange;
}

footer .footer-wrapper .row .footer-social-media form .footer-input:-ms-input-placeholder {
  color: orange;
}

footer .footer-wrapper .row .footer-social-media form .footer-input::-ms-input-placeholder {
  color: orange;
}

footer .footer-wrapper .row .footer-social-media form .footer-input::placeholder {
  color: orange;
}

footer .footer-wrapper .row .footer-social-media form .footer-submit {
  position: absolute;
  top: 0;
  left: 1px;
  border: 0;
  outline: 0;
  padding: 5px 5px 7px 5px;
  background-color: #3d3d3d;
  color: #efefef;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-social-media form .footer-submit:hover {
  background-color: #4d4d4d;
}

footer .footer-wrapper .row .footer-social-media .hint {
  font-size: 10px;
  text-align: right !important;
  color: #efefef;
}

footer .footer-wrapper .row .footer-contact-us {
  text-align: center;
  color: #efefef;
  padding: 14px;
  margin-top: 23px;
  margin-bottom: 10px;
}

footer .footer-wrapper .row .footer-contact-us h6 {
  margin-bottom: 11px;
  color: orange;
  font-size: 14px;
  border-bottom: 1px solid #efefef8a;
  padding-bottom: 5px;
}

footer .footer-wrapper .row .footer-contact-us ul li {
  text-align: right;
  margin-right: 20px;
  margin-top: 8px;
}

footer .footer-wrapper .row .footer-contact-us ul li a i {
  color: rgba(255, 166, 0, 0.822);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-contact-us ul li a i:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
  color: orange;
}

footer .footer-wrapper .row .footer-contact-us ul li a span {
  color: #efefefbe;
  margin-right: 7px;
  font-size: 13px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

footer .footer-wrapper .row .footer-contact-us ul li a span:hover {
  color: #fff;
}

footer .footer-wrapper .row .footer-contact-us ul li a .footer-phone-no {
  color: #fff;
}

footer .copy-right {
  color: #efefefee;
  text-align: center;
  border-top: 1px dashed #e9ae0d;
  padding-top: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}

footer .copy-right span {
  color: orange;
}
/*# sourceMappingURL=style.css.map */