doctype html
html(lang="fa-IR" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title app project
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="stylesheet", href="css/grid-system.css")
        link(rel="stylesheet", href="css/style.min.css")
    body
        include includes/_header.pug
        include includes/_menu.pug
        include includes/_hero-img.pug  
        include includes/_course.pug 
        include includes/_aboutus.pug
        include includes/_teacher.pug
        include includes/_info.pug
        include includes/_assets.pug
        include includes/_faq.pug
        include includes/_footer.pug

        

    

                




    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="js/app.min.js") 